.container{
    width:100%;
}
.br-l-menu-list{
    margin:0;
}
.br-theader-menu-list {
    margin:0;
}
.br-header-main{
    font-size:13px;
}
.br-theader-menu{
    margin-right: 120px;
}
.br-theader-menu>ul>li {
    float: left;
    margin-right: 40px;
    position: relative;
}
@media (max-width: 1354px){
    .br-header-main .br-chc {
        margin-right: 60px;
    }
    .br-hlogo {
        margin-right: 50px;
    }
    .br-hsearch form {
        width: 325px;
    }
    .br-hsearch {
        margin-right: 35px;
    }
}
#content {
    min-width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    min-height: 700px;
    overflow: hidden;
}

#content .profile_container>div {
    display: table-cell;
    vertical-align: top;
}

#content .left_side_nav {
    width: 210px;
    max-width: 210px;
    background: #e9e9e9;
    margin-bottom: 20px;
}

#content #content_page .content_wrapper {
    display: block;
    max-width: 100%;
    padding-left: 30px;
}
#content .left_side_nav .nav_content {
    padding: 20px;
}
#content .profile_container {
    display: table;
    width: 100%;
    margin-bottom: 40px;
    box-sizing: border-box;
}

.container .container {
    padding: 0;
}

